
# Created by https://www.toptal.com/developers/gitignore/api/macos
# Edit at https://www.toptal.com/developers/gitignore?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
__pycache__/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.toptal.com/developers/gitignore/api/macos

carte.html
Biblio/___milechcabreira2018.pdf
Biblio/CTDR_2020__Camera_Ready_Taua_Cabreira.pdf
Biblio/difranco2016.pdf
ESpiral/calculating_distance_and_angles_spiral.m
ESpiral/calculating_distance_from_centroid_to_edges.m
ESpiral/computing_central_point.m
ESpiral/computing_distance.m
ESpiral/computing_lower_vertices_spiral.m
ESpiral/computing_rings.m
ESpiral/computing_starting_point.m
ESpiral/computing_waypoints.m
ESpiral/drawing_projected_area_spiral.m
ESpiral/E_model_full.mat
ESpiral/gopro_setup.m
ESpiral/initial_setup.m
ESpiral/line_intersection.m
ESpiral/main.m
ESpiral/matlab_to_python.txt
ESpiral/point_on_line.m
ESpiral/polycenter.m
ESpiral/rotating_object.m
ESpiral/runSpiral.m
ESpiral/spiral.m
ESpiral/updating_area_after_first_line.m
ESpiral/updating_area.m
ESpiral/updating_vertex_start.m
ESpiral/vertices_different.m
ESpiral/vertices_inside_projected_areas.m
ESpiral/ebf/calculating_distance_and_angles.m
ESpiral/ebf/computing_central_point.m
ESpiral/ebf/computing_lower_vertices.m
ESpiral/ebf/computing_stripes.m
ESpiral/ebf/computing_waypoints.m
ESpiral/ebf/drawing_projected_area.m
ESpiral/ebf/drawing_projected_area02.m
ESpiral/ebf/ecpp_v2.m
ESpiral/ebf/finding_farthest_vertex.m
ESpiral/ebf/finding_longest_edge.m
ESpiral/ebf/finding_the_intersection_point_of_the_stripe.m
ESpiral/ebf/initial_setup.m
ESpiral/ebf/line_intersection.m
ESpiral/ebf/main.m
ESpiral/ebf/recomputing_distance.m
ESpiral/ebf/recomputing_starting_point.m
ESpiral/ebf/replacing_index_phase03.m
ESpiral/ebf/rotating_object.m
ESpiral/ebf/runEBF.m
ESpiral/ebf/sorting_vertices_from_scan_to_far.m
ESpiral/ebf/sorting_vertices_from_start_to_far.m
ESpiral/ebf/sorting_vertices_from_start_to_scan.m
ESpiral/ebf/updating_vertex_start.m
ESpiral/espiral_vs_ebf/E_model_full.mat
ESpiral/espiral_vs_ebf/ecpp_vs_spiral_convex_concave.m
ESpiral/espiral_vs_ebf/generate_convex_concave_area.m
ESpiral/espiral_vs_ebf/main_concave_spiral.m
ESpiral/espiral_vs_ebf/main_ecpp_vs_spiral.m
ESpiral/espiral_vs_ebf/main_speeds_and_angles.m
ESpiral/espiral_vs_ebf/waypoints.m
ESpiral/espiral_vs_ebf/waypoints.mat
ESpiral/espiral_vs_ebf/area/area01.waypoints
ESpiral/espiral_vs_ebf/area/area02.waypoints
ESpiral/espiral_vs_ebf/area/area03.waypoints
ESpiral/espiral_vs_ebf/area/area04.waypoints
ESpiral/espiral_vs_ebf/area/area05.waypoints
ESpiral/espiral_vs_ebf/area/area06.waypoints
ESpiral/espiral_vs_ebf/area/area07.waypoints
ESpiral/espiral_vs_ebf/area/polygon.waypoints
ESpiral/espiral_vs_ebf/area/rectangle.waypoints
ESpiral/espiral_vs_ebf/area/rectangle02.waypoints
ESpiral/espiral_vs_ebf/area/spiral_concave.waypoints
ESpiral/espiral_vs_ebf/area/spiral_polygon.waypoints
ESpiral/espiral_vs_ebf/experiments/angles_and_speeds.mat
ESpiral/espiral_vs_ebf/experiments/experiment_power.m
ESpiral/espiral_vs_ebf/experiments/experiment_speed.m
ESpiral/espiral_vs_ebf/experiments/finding_minimum_speed.m
ESpiral/espiral_vs_ebf/experiments/script_points.m
ESpiral/espiral_vs_ebf/experiments/printing_map/deg2utm.m
ESpiral/espiral_vs_ebf/experiments/printing_map/get_google_map.m
ESpiral/espiral_vs_ebf/experiments/printing_map/printing_map.m
ESpiral/espiral_vs_ebf/experiments/waypoints/angles_speed_2.txt
ESpiral/espiral_vs_ebf/experiments/waypoints/angles_speed_66.txt
ESpiral/espiral_vs_ebf/experiments/waypoints/angles_speed_77.txt
ESpiral/espiral_vs_ebf/experiments/waypoints/angles_speed_852.txt
ESpiral/espiral_vs_ebf/experiments/waypoints/angles_speed_943.txt
ESpiral/espiral_vs_ebf/functions/compute_angle_between_3_points.m
ESpiral/espiral_vs_ebf/functions/compute_angles_of_waypoints.m
ESpiral/espiral_vs_ebf/functions/compute_angles.m
ESpiral/espiral_vs_ebf/functions/compute_path.m
ESpiral/espiral_vs_ebf/functions/initial_setup.m
ESpiral/espiral_vs_ebf/functions/path2wp_ecpp.m
ESpiral/espiral_vs_ebf/functions/path2wp_espiral.m
ESpiral/espiral_vs_ebf/functions/path2wp.m
ESpiral/espiral_vs_ebf/functions/write_waypoints_file_ecpp_3x.m
ESpiral/espiral_vs_ebf/functions/write_waypoints_file_ecpp.m
ESpiral/espiral_vs_ebf/functions/write_waypoints_file_ecpp02.m
ESpiral/espiral_vs_ebf/functions/write_waypoints_file_ecpp03.m
ESpiral/espiral_vs_ebf/functions/write_waypoints_file_espiral_3x.m
ESpiral/espiral_vs_ebf/functions/write_waypoints_file_espiral.m
ESpiral/espiral_vs_ebf/functions/write_waypoints_file_espiral02.m
ESpiral/espiral_vs_ebf/functions/write_waypoints_file_espiral03.m
ESpiral/espiral_vs_ebf/functions/write_waypoints_file_speeds.m
ESpiral/espiral_vs_ebf/functions/write_waypoints_file.m
ESpiral/espiral_vs_ebf/waypoints/ECPP_polygon.txt
ESpiral/espiral_vs_ebf/waypoints/ECPP_rectangle.txt
ESpiral/espiral_vs_ebf/waypoints/ESpiral_concave.txt
ESpiral/espiral_vs_ebf/waypoints/ESpiral_polygon.txt
ESpiral/espiral_vs_ebf/waypoints/ESpiral_rectangle.txt
ESpiral/utils/compute_energy_time_and_distance_emodel_v2.m
ESpiral/utils/compute_energy_time_and_distance.m
ESpiral/utils/gps2meters.m
ESpiral/utils/gpsplusdeltaxy.m
ESpiral/utils/home.mat
ESpiral/utils/line_intersection.m
ESpiral/utils/new_area_obstacles1.waypoints
ESpiral/utils/new_area1.waypoints
ESpiral/utils/obstacles01.waypoints
ESpiral/utils/obstacles02.waypoints
ESpiral/utils/obstacles04.waypoints
ESpiral/utils/obstacles06.waypoints
ESpiral/utils/obstacles07.waypoints
ESpiral/utils/obstacles08.waypoints
ESpiral/utils/R.m
ESpiral/utils/scenario01.waypoints
ESpiral/utils/scenario02.waypoints
ESpiral/utils/scenario03.waypoints
ESpiral/utils/scenario04.waypoints
ESpiral/utils/scenario05.waypoints
ESpiral/utils/scenario06.waypoints
ESpiral/utils/scenario07.waypoints
ESpiral/utils/scenario08.waypoints
ESpiral/utils/script.m
ESpiral/utils/waypoints2meters.m
ESpiral/utils/write_waypoints_file02.m
jupyter_holoviews/place_points.ipynb
jupyter_holoviews/Untitled.ipynb
jupyter_holoviews/Untitled1.ipynb
jupyter_holoviews/.ipynb_checkpoints/place_points-checkpoint.ipynb
jupyter_holoviews/.ipynb_checkpoints/Untitled-checkpoint.ipynb
jupyter_holoviews/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
jupyter_holoviews/ml_annotators/anaconda-project.yml
jupyter_holoviews/ml_annotators/ml_annotators.ipynb
jupyter_holoviews/ml_annotators/README.md
jupyter_holoviews/ml_annotators/Untitled.ipynb
jupyter_holoviews/ml_annotators/.ipynb_checkpoints/ml_annotators-checkpoint.ipynb
jupyter_holoviews/ml_annotators/.ipynb_checkpoints/Untitled-checkpoint.ipynb
best_path_distance.html
best_angle_nb_turns.html
